# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# Environment / Secrets
# -----------------------
.env
.env.*

# -----------------------
# IDE
# -----------------------
.vscode/

# -----------------------
# Data (runtime / generated)
# -----------------------
data/raw/
data/processed/

# Keep cleaned & master (IMPORTANT)
# data/cleaned/   <-- KEEP TRACKED
# data/master/    <-- KEEP TRACKED

# -----------------------
# Logs / temp
# -----------------------
*.log
*.tmp
.DS_Store
logs/
